<div class="new-container">
<div class="itr-center-dot"></div>
      <div class="itr-pulse-ring"></div>
      <img src="https://c32.metadeploy.com/web-assets/tr2/images/labels-overlay.png" class="itr-relevancy-legend">
      <img src="https://c32.metadeploy.com/web-assets/tr2/images/radar-sweep.png" class="itr-radar-sweep" style="transform: matrix3d(-0.145254, 0.989394, 0, 0, -0.989394, -0.145254, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
      <img src="https://c32.metadeploy.com/web-assets/tr2/images/trend-radar-background.png" class="itr-radar-background">
    </div>
