<div class="new-container">
  <div class="itr-nodes">
    <a data-itr-node-id="1" class="node left cat0" style="top: 49.4444%; left: 83.5556%; opacity: 1; transform: rotate(0deg);">
      <span class="highlight"></span>
      <span class="dot"></span>
      <span class="ring"></span>
      <span class="text" style="opacity: 1;">Bionic<br>Enhancement</span>
    </a>
  </div>
      <div class="itr-center-dot"></div>
      <div class="itr-pulse-ring"></div>
      <img src="https://c32.metadeploy.com/web-assets/tr2/images/labels-overlay.png" class="itr-relevancy-legend">
      <img src="https://c32.metadeploy.com/web-assets/tr2/images/radar-sweep.png" class="itr-radar-sweep" style="transform: matrix3d(-0.145254, 0.989394, 0, 0, -0.989394, -0.145254, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
      <img src="https://c32.metadeploy.com/web-assets/tr2/images/trend-radar-background.png" class="itr-radar-background">
    </div>
