
.itr-radar-background {
  width: 90%;
  height: 90%;
  top: 7%;
  right: 5%;
}
.new-container {
  position: relative;
  width: 400px;
  height: 400px;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.itr-radar-sweep {
  z-index: 1000;
  width: 90%;
  height: 90%;
  top: 7%;
  right: 5%;
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
 .itr-center-dot {
  position: absolute;
  width: 4.7%;
  height: 4.7%;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #d40511;
  border-radius: 100%;
  z-index: 1001;
}
.itr-relevancy-legend{
  z-index:1001;
}
.itr-nodes a{
  position:absolute;
  z-index:1003;
}

.new-container .node .dot {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #000;
    -webkit-transition: background 200ms;
    transition: background 200ms;
}

.new-container .node.cat0 .dot {
    background-color: #4F8CC0;
}
.itr-trend-new-container .node .ring {
    top: -7px;
    left: -7px;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #000;
    -webkit-transition: border 200ms;
    transition: border 200ms;
}